li {
  margin-bottom: 7px;
}

div {
  border: solid 1px #BBCCBB;
  padding: 10px;
  margin: 10px 0;
  width: 30%;
}

span.value {
  background: #BBCCBB;
  border-radius: 4px;
  padding: 2px 5px;
}

span.delay {
  background: #eaeeea;
  border-radius: 4px;
  padding: 2px 5px;
  color: #666666;
}
