li {
  margin-bottom: 7px;
}

span.value {
  background: #BBCCBB;
  border-radius: 4px;
  padding: 2px 5px;
}

span.delay {
  background: #eaeeea;
  border-radius: 4px;
  padding: 2px 5px;
  color: #666666;
}
